<div>
    <div>
        <ngb-datepicker class="hebrew rtl bg-white" #dp [(ngModel)]="model" (dateSelect)="onDateSelection($event)"
            [displayMonths]="1" [firstDayOfWeek]="7" [dayTemplate]="dt" [dayTemplateData]="dayTemplateData">
        </ngb-datepicker>

        <ng-template #dt let-date let-data="data" let-selected="selected" let-currentMonth="currentMonth">
            <div class="hebrew-day" [class.bg-danger]="isSightDay(date)" [class.weekend]="isMarkedDay(date)" [class.outside]="date.month !== currentMonth" [class.selected]="selected">
                <div class="gregorian-num">{{ data.gregorian.day + '/' + (data.gregorian.month) }}</div>
                <div class="hebrew-num">{{ i18n.getDayNumerals(date) }}</div>
            </div>
        </ng-template>

        <hr />

        <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">יום הנוכחי</button>
        <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">חודש נוכחי</button>
    </div>
    <hr />
</div>
