<nav class="toolbar" role="banner">

  <div class="cursor-pointer row" routerLink="/">
    <img
    width="50"
    alt="Angular Logo"
    src="assets/svg/love.svg"

  />
    <div>
      <h3 class="pa-0 m-0">פרח</h3>
      <div> חישוב ימי פרישה 🌹</div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="user-details d-flex align-items-center">
    <div class="cursor-pointer" (click)="onAvatarClick($event)">
      <fa-icon [icon]="faBar" size="1x"></fa-icon>
    </div>

    <img class="toggle" [src]="userModel.photoURL" alt="user Image" height="40" width="40">
    <div>
      <a class="text-white" [routerLink]="'.'" (click)="logout()">התנתקות</a>
    </div>

  </div>

  <!-- Split dropright button -->
</nav>
