<nav class="toolbar" role="banner">

  <div class="cursor-pointer d-flex" routerLink="/">
    <img
      class="d-none d-md-block"
    width="50"
    alt="Angular Logo"
    src="assets/svg/love.svg"

  />
    <div  [@bounceAnimation] class="aaa">
      <h3 class="pa-0 m-0">ימי טהרה</h3>
      <div> חישוב ימי פרישה 🌹</div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="user-details d-flex align-items-center">
    <div class="cursor-pointer" (click)="onAvatarClick($event)">
      <fa-icon [icon]="faBar" size="1x"></fa-icon>
    </div>

    <img class="toggle" *ngIf="userModel" [src]="userModel.photoURL" alt="user Image" height="40" width="40">
    <div>
      <a class="primary-color" [routerLink]="'.'" (click)="logout()">{{'logout'|transloco}}</a>
    </div>

  </div>

  <!-- Split dropright button -->
</nav>
