<div class="row p-2 align-items-center text-center">

    <div class="col-md-4 col-12">
       אנא בחרי יום ראיה קודם
        <app-datepicker-hebrew (dateChange)="onLastSeenDayChanged($event)"></app-datepicker-hebrew>
    </div>
    <div *ngIf="lastSeenDay" class="col-md-4 col-12">
        יום ראיה נוכחי
        <app-datepicker-hebrew (dateChange)="onCurrentSeeDayChanged($event)" [markDays]="daysToHiglig">
        </app-datepicker-hebrew>
    </div>
    <div *ngIf="currentSeeDay" class="col-md-4 col-12">
        <!-- <img placement="top" ngbTooltip="Tooltip on top" src="assets/svg/question.svg">  -->


        <div class="date-details">
            <div data-tooltip="יום הראיה האחרון" class="info-tooltip">יום הראיה:
                {{ i18n.getDayAriaLabel(currentSeeDay) }}</div>
        </div>
        <div class="date-details">
            <div data-tooltip=" באותו תאריך עברי בו החלה הווסת הקודמת, ובאותה עונה." class="info-tooltip">
                עונת החודש: {{ i18n.getDayAriaLabel(onatHodeshDate) }} </div>
        </div>
        <div class="date-details">
            <div data-tooltip=" שלושים יום לאחר תחילת הווסת הקודמת, באותה עונה בה החלה הווסת הקודמת."
                class="info-tooltip">עונה בינונית: {{ i18n.getDayAriaLabel(onatBenonitDate) }}
            </div>
        </div>
        <div class="date-details">
            <div data-tooltip=" אותו הפרש ימים בין הווסתות כמו שהיה בפעם הקודמת, ובאותה עונה של הפעם האחרונה."
                class="info-tooltip">עונת הפלגה: {{ i18n.getDayAriaLabel(onatHflagaDate) }}
            </div>
        </div>

    </div>
</div>