<div class="mikveh-list">
  <ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.Religious_Council + ' - '+ r.Mikve_Address" [term]="t"></ngb-highlight>
  </ng-template>

  <label for="typeahead-basic">אנא הכניסי עיר/יישוב לחיפוש:</label>
  <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"
         [resultTemplate]="rt" [inputFormatter]="formatter"/>
  <hr>
<!--    <pre>Model: {{ model | json }}</pre>-->
</div>

<div class="card mb-1">
  <div class="card-body">
    <div *ngFor="let item of modelObjData">
      <b>{{item}} - {{model[item]}}</b>
    </div>
  </div>
</div>
