/* You can add global styles to this file, and also import other style files */
@import './assets/styles/fonts.scss';
@import "./assets/styles/sidebar";
@import "./assets/styles/animations";


$gray: #8E9AAF;
$lavender: #CBC0D3;
$lavenderblush: #fff0f5;
$pale: #EAC7CC;
$white: #f6f6f6;
.primary-color {
  color: #7367f0;
}
.warning-color{
  color: #f06767;
}
.warning-bg-color{
  background-color: #f06767 !important;
  color: #fff;
}

$pink: darken($pale, 20%);
body {
  direction: rtl;
  text-align: right;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

ngb-datepicker.rtl {
  direction: rtl
}

ngb-datepicker.rtl ngb-datepicker-navigation-select select.custom-select {
  background-position: left .25rem center
}

ngb-datepicker.rtl .ngb-dp-arrow.right .ngb-dp-navigation-chevron {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin: 0 0 0 .25rem
}

ngb-datepicker.rtl .ngb-dp-navigation-chevron {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0 .25rem 0 0
}

ngb-datepicker.hebrew .ngb-dp-day {
  width: 2.75rem;
  height: 2.75rem;
  line-height: 1rem;
  @media (max-width: 1200px) {
    width: 2rem;
    height: 2.5rem;
  }
  @media (max-width: 768px) {
    width: 1.75rem;
    height: 2.5rem;
  }
  @media (max-width: 767px) {
    width: 2.5rem;
  }
}

ngb-datepicker.hebrew .ngb-dp-weekday {
  width: 2.75rem;
  @media (max-width: 1200px) {
    width: 2rem;
  }

  @media (max-width: 768px) {
    width: 1.75rem;
    font-size: 0.6rem;
  }
  @media (max-width: 767px) {
    width: 2.5rem;
  }

}


.info-tooltip {
  display: inline-block;
  overflow: hidden;
  transition: all .35s ease-in-out;

  /*
   * the background-color of the pseudo-element:
   *
   * first value if not:hover
   * second value if :hover
   */
  background: linear-gradient(transparent 10%, rgba(130, 0, 0, .55)) no-repeat -1px;

  /* hide the background on the parent */
  background-position: -1px 0;
  background-size: 1px;

  /* hide the pseudo-element text */
  text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.info-tooltip:hover {
  /* show the pseudo-element text */
  text-shadow: 0 0 0 white;

  /* show the pseudo-element background */
  background-position: -1px 100%;
}

.info-tooltip:before {
  position: absolute;

  /* get the info-tooltip-text */
  content: attr(data-tooltip);

  /* styling */
  font-size: .75em;
  padding: .25em .45em;
  margin: -2em 0 0 -.25em;
  border-radius: 1em;
  pointer-events: none;

  /* hide the pseudo-element text */
  color: transparent;

  /* get the background of the parent element */
  background: inherit;
  background-size: 102% 90em;

  /* get the text-shadow of the parent element
   * to show the pseudo-element on :hover */
  text-shadow: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

.button {
  margin-top: 3%;
  background: $white;
  color: $pink;
  border: none;
}

.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5)
  }
  100% {
    transform: scale(1)
  }
}

ul {
  list-style: none;
  padding: 0;
}

:focus {
  outline: none;
}

.my-card {
  margin-bottom: 2.2rem;
  border: none;
  border-radius: .5rem;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1);
}
