$side_width: 250px;
$top_nav_width: 14px;

aside {
  background: lavender;
  position: fixed;
  width: $side_width;
  height: 100%;
  overflow: auto;
  transform: translate3d(-250px, 0, 0);
  top: 0;
  left: 0;
}

nav {
  background: snow;
  height: 50px;
  width: 100%;
  padding-left: $top_nav_width;

  display: flex;
  align-items: center;
}

main {
  &.container-fluid {
    background: lavenderblush;
    height: 100%;
  }
}

.placeholder {
  background: ivory;
  height: 50px;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 8px;
}

.content {
  padding: $top_nav_width;
}

.adjustable {
  transition: all 0.3s, padding 0.3s, display 10s 10s;
}

.sidebar-open {
  aside {
    transform: translate3d(0, 0, 0);
    @media (max-width: 768px) {
      z-index: 2;
      width: 100%;
    }
  }

  main {
    padding-left: $side_width;
    @media (max-width: 768px) {
      /* display: none; */
      /* background: lavender; */
      position: static;
      /* width: 250px; */
      height: 100%;
      overflow: auto;
      transform: translate3d(250px, 0, 0);
      top: 0;
      bottom: 0;
      padding-left: inherit;
    }
  }

  nav {
    padding-left: $side-width + 25px;
    @media (max-width: 768px) {
      padding-left: inherit;
    }
  }
}


.close {
  position: relative;
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin: 0;

}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  right: 10px;
  content: ' ';
  height: inherit;
  width: 2px;
  background-color: #000;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}
