<aside class="adjustable p-3">
  <div class="d-flex flex-row justify-content-between">
    <h4>תפריט אישי</h4>
    <div (click)="onClose()">
      <span class="close"></span>
    </div>
  </div>
  <div>{{i18n.getDayAriaLabel(today)}}</div>
  <hr>
  <ul class="list-group">
    <li class="list-item">רשימת מקוואות</li>
    <li class="list-item">שיעורי תורה</li>
    <li class="list-item">התראות</li>
    <li class="list-item">הגדרות</li>
    <li class="list-item">שאלו את הרב</li>
  </ul>
  <div class="blockquote-footer">
    מַה טֹּבוּ אֹהָלֶיךָ יַעֲקֹב מִשְׁכְּנֹתֶיךָ יִשְׂרָאֵל.
    <div>(במדבר כד ה)</div>
  </div>
</aside>
