<aside class="adjustable p-3">
  <div class="d-flex flex-row justify-content-between">
    <h4>תפריט אישי</h4>
    <div (click)="onClose()" class="menu-close">
    </div>
  </div>
  <div>{{i18n.getDayAriaLabel(today)}}</div>
  <hr>
  <ul class="list-group">
    <li (click)="closeSideNav()"  class="list-item" routerLink="diary">יומן</li>
    <li (click)="closeSideNav()" class="list-item" routerLink="mikvehList">רשימת מקוואות</li>
    <li (click)="closeSideNav()" class="list-item" routerLink="torah-lessons">שיעורי תורה</li>
    <li (click)="closeSideNav()" class="list-item">התראות</li>
    <li (click)="closeSideNav()" class="list-item">הגדרות</li>
    <li (click)="closeSideNav()" class="list-item">שאלו את הרב</li>
  </ul>
  <div class="blockquote-footer">
    מַה טֹּבוּ אֹהָלֶיךָ יַעֲקֹב מִשְׁכְּנֹתֶיךָ יִשְׂרָאֵל.
    <div>(במדבר כד ה)</div>
  </div>
</aside>
