
.date-details{
    font-size: 1.2rem;
    font-weight: bold;
    cursor: default;
  border: 1px solid gainsboro;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 8px;

  .info-tooltip{
    vertical-align: middle;
  }
}


